[submodule "navigation_ws/src/emcl2_ros2"]
	path = navigation_ws/src/emcl2_ros2
	url = git@github.com:cafeline/emcl2_ros2.git
[submodule "navigation_ws/src/obstacle_tracker"]
	path = navigation_ws/src/obstacle_tracker
	url = https://github.com/cafeline/obstacle_tracker.git
[submodule "navigation_ws/src/pointcloud2_cutter"]
	path = navigation_ws/src/pointcloud2_cutter
	url = git@github.com:cafeline/pointcloud2_cutter.git
[submodule "navigation_ws/src/waypoint_follower"]
	path = navigation_ws/src/waypoint_follower
	url = git@github.com:cafeline/waypoint_follower.git
[submodule "navigation_ws/src/vector_field_planner"]
	path = navigation_ws/src/vector_field_planner
	url = git@github.com:cafeline/vector_field_planner.git
[submodule "navigation_ws/src/vq_server"]
	path = navigation_ws/src/vq_server
	url = git@github.com:cafeline/vq_server.git
[submodule "navigation_ws/src/velocity_smoother"]
	path = navigation_ws/src/velocity_smoother
	url = git@github.com:cafeline/velocity_smoother.git
[submodule "navigation_ws/src/imu_rpy_pose"]
	path = navigation_ws/src/imu_rpy_pose
	url = git@github.com:cafeline/imu_rpy_pose.git
