[submodule "navigation_ws/src/emcl2_ros2"]
	path = navigation_ws/src/emcl2_ros2
	url = git@github.com:cafeline/emcl2_ros2.git
[submodule "navigation_ws/src/obstacle_tracker"]
	path = navigation_ws/src/obstacle_tracker
	url = https://github.com/cafeline/obstacle_tracker.git
[submodule "navigation_ws/src/pointcloud2_cutter"]
	path = navigation_ws/src/pointcloud2_cutter
	url = git@github.com:cafeline/pointcloud2_cutter.git
[submodule "navigation_ws/src/raspicat_tvvf_navigation"]
	path = navigation_ws/src/raspicat_tvvf_navigation
	url = git@github.com:cafeline/raspicat_tvvf_navigation.git
[submodule "navigation_ws/src/tvvf_vo_cpp"]
	path = navigation_ws/src/tvvf_vo_cpp
	url = git@github.com:cafeline/tvvf_vo2.git
[submodule "navigation_ws/src/vq_server"]
	path = navigation_ws/src/vq_server
	url = git@github.com:cafeline/vq_server.git
